@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

:root {
    /*color scheme*/
        --yellow:#FCCC4D;
        --blue:#48558B;
        --white:#F3FBFB;
        /*light to dark*/
        --gray-050:#BCBCCC;
        --gray-100:#A2ACCB;
        --gray-150:#8C8CA2;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color:#eee;
}

li {
    list-style: none;
}

a {
    color:blue;
    color:var(--blue);
    text-decoration: none;
}


.rating-card {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color:var(--white);
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    width:25rem;
    height:30rem;
    border-radius: 10px;
    filter:drop-shadow(0 0 15px rgba(51, 51, 51, 0.35));
}


.main-heading {
    text-align:center;
    font-weight: 500;
    margin-bottom:1rem;
}
.stars-container {
    display:flex;
    flex-direction: column;
    align-items:center;
    font-size:0.8rem;
    margin-bottom:3rem;

}

.stars-inner {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    background-color:#eee;
    padding:0.5rem 1rem;
    border-radius: 50px;
}

.stars {
    margin-right:1rem;
}

.fa-star {
    color:yellow;
    color:var(--yellow);
    font-size:1.5rem;
}

.rating-scale {
    margin-bottom:1rem;
}

.rating-scale__item {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
}

.total-ratings {
    margin-top:0.3rem;
    color:gray;
}

.rating-bar {
    position: relative;
    background-color:silver;
    width:12rem;
    height:1rem;
    border-radius:1rem;
    margin:0 1rem;
    overflow: hidden;
}

.rating-bar__fill {
    position: relative;
    background-color:yellow;
    background-color:var(--yellow);
    border-radius: inherit;
    filter:drop-shadow(0 0 5px #fccd4d50);
    width:100%;
    height:100%;
}

.fill-5-stars {
    width:84%;
}

.fill-4-stars {
    width:9%;
}

.fill-3-stars {
    width:4%;
}

.fill-2-stars {
    width:2%;
}

.fill-1-stars {
    width:1%;
}


.q-calc-text {
    position: relative;
    font-size:0.8rem;
    color:var(--blue);
    
    left:25%;
    transform:translate(-25%);
}